<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery_Project">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAn4p7Xw4r4XhdvycDDo_Nvv-sc9deuCDU" />

        <!--
            NOTE:
            Do NOT register adapters or data classes in the manifest.
            Only Activities go here.
        -->

        <!-- Activity declarations -->
        <activity android:name=".AccountActivity" android:exported="false" />
        <activity android:name=".ItemActivity" android:exported="false" />
        <activity android:name=".RestaurantMenuActivity" android:exported="true" />
        <activity android:name=".VideoActivity" android:exported="false" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity android:name=".CartActivity" android:exported="false" />
        <activity android:name=".MenuActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />

        <!-- Launcher Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodDelivery_Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
